In [4]:
fruits = ["orange" , " apple", "mango"]
print(fruits)
fruits[1]
fruits.append("banana")
print(fruits)

['orange', ' apple', 'mango']
['orange', ' apple', 'mango', 'banana']

In [7]:
student_data = ('201', '202')
print(student_data)

('201', '202')

In [9]:
#Dictionary

true_caller = {'name' : 'nandini',
                'number' : '7204222897',
                 'address' : 'amaravathi layout bangarpet',
              }
for name, nandini in true_caller.items():
     print(true_caller)

{'name': 'nandini', 'number': '7204222897', 'address': 'amaravathi layout bangarpet'}
{'name': 'nandini', 'number': '7204222897', 'address': 'amaravathi layout bangarpet'}
{'name': 'nandini', 'number': '7204222897', 'address': 'amaravathi layout bangarpet'}

In [10]:
num = 10 
if (num>= 10 ):
    print("number is positive")
print(" this will print always")

number is positive
 this will print always

In [12]:
num = 10
if(num>=10):
    print("number is positive")
else:
    print("number is negative")

number is positive

In [16]:
#Nested loop
num = 15
if(num >=10 and num >=20):
    print("number is positive")
elif(num >10 and 20 < num):
    print("2nd division")
else:
    print("Fail")

Fail

In [18]:
a = 70
b = 33
c = 90
if((a >= b) and (a>=c)):
    print("a is bigger")
elif((b>=a) and (b>=c)):
    print( " b is bigger")
else:
    print("c is bigger")

c is bigger

In [21]:
#range
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [28]:
x = [1, 2, 3, 4]
for data in x:
    print(data)
else:
    print("no data is available ")

1
2
3
4
no data is available

In [ ]:
#None : dont allow to get into the loops no matter condition is t or f
#Continue : continue statement only aloow false condition to process
#break: it comes out from the loop

In [3]:
x = [1,2,3,4,5]
for i in x :
    if i % 2 == 0:
        continue
    print(i)
else:
    print("list data over")

1
3
5
list data over

In [5]:
range = [ 0.9, 0.8, 0.7]
for i in range:
    if( i == 0.8):
        print(i)
        break
else:
    print("not running")

0.8

In [10]:
student = [ "nandini", " siva", "pavi"]
for pt in student:
    if( pt == student ):
        print(pt)
        break
else:
    print("no")

In [12]:
#list operations 
lst = ['one', 'two', 'three', 'four']
list1 = ['five','six']
lst.append(list1)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [40]:
# #overriden
# lst = { 1,2,3,4,5}
# lst1 = {}
# lst1 = lst
# lst1.append(4)
# lst.append(3)
# print(lst1)
# print(lst)

In [18]:
lst = "i am learning,python"
lst1 = lst.split(',')
print(lst)
print(lst1)
print(type(lst1))
print(type(lst))

i am learning,python
['i am learning', 'python']
<class 'list'>
<class 'str'>

In [23]:
lst = [10,20,30,60]
lst1 = ["ajay", "ama", "sam"]
lst2 = lst + lst1
print(lst2)

[10, 20, 30, 60, 'ajay', 'ama', 'sam']